{% macro render_field(field, units) %}
<div class="pure-control-group">
  {{ field.label }}
  {{ field(**kwargs) }}
    <span class="pure-form-message-inline">{{ units }}</span>
  {% if field.errors %}
    {% for error in field.errors %}
    <span class="pure-form-message-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro render_reading_elem(field, title, units, value) %}
{% if field != None %}
<tr class="three-col">
  <td>{{ title }}</td>
  <td>{{ value }}</td>
  <td>{{ units }}</td>
</tr>
{% endif %}
{% endmacro %}