{% macro render_field(field, units) %}
<div class="pure-control-group">
  {{ field.label }}
  {{ field(**kwargs) }}
    <span class="pure-form-message-inline">{{ units }}</span>
  {% if field.errors %}
    {% for error in field.errors %}
    <span class="pure-form-message-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro render_table_headers() %}
<tr {{kwargs['class']}}>
  {% for elem in varargs %}
  <th>{{ elem }}</th>
  {% endfor %}
</tr>
{% endmacro %}

{% macro render_table_elems() %}
<tr {{kwargs['class']}}>
  {% for elem in varargs %}
  <td>{{ elem }}</td>
  {% endfor %}
</tr>
{% endmacro %}

{% macro render_reading_elem(field, title, units, value) %}
{% if field != None %}
  {{render_table_elems(title, units, value, class="three-col")}}
{% endif %}
{% endmacro %}