{% extends "layout.html" %} 
{% block content %}
{% from "_form_helpers.html" import render_field %}

{% block head %} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.css') }}">
<script src="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.js') }}"></script>
    {% if not edit_mode %}
    <script type="text/javascript">
        window.onload = function() {
            flatpickr("#when", {
                enableTime: true,
                defaultDate: new Date()
            });
        }
    </script>
    {% endif %}
{% endblock %} 

<div class="header">
    {% if edit_mode %}
        <h1>Edit Reading</h1>
    {% else %}
        <h1>Add Reading</h1>
    {% endif %}
</div>

<div class="content">
    <form class="pure-form pure-form-aligned" method=post>
        <fieldset>
            {% if edit_mode %}
                <div class="pure-control-group">
                    {{ form.when.label }}
                    {{ form.when.data }}
                    <div style="display: none">
                    {{ render_field(form.when) }}
                    </div>
                </div>
            {% else %}
                {{ render_field(form.when) }}
            {% endif %}

            {{ render_field(form.fc, "ppm") }}
            {{ render_field(form.tc, "ppm") }}
            {{ render_field(form.ph) }}
            {{ render_field(form.ta, "ppm") }}
            {{ render_field(form.ca, "ppm") }}
            {{ render_field(form.cya, "ppm") }}
            {{ render_field(form.pool_temp, "*C") }}
            {{ render_field(form.event_type) }}
            {{ render_field(form.event_quantity) }}
            {{ render_field(form.event_comment) }}
            {{ form.csrf_token }}

            <button type="submit" class="pure-button pure-button-primary" value="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}