{% extends "layout.html" %} {% block head %} {{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['line', 'charteditor'] });
  google.charts.setOnLoadCallback(getData);

  function getData() {
    var jsonData = $.ajax({
      url: "backend/readings/datatable",
      dataType: "json",
      success: drawCharts
    })
  }

  function drawCharts(jsonData) {
    console.log("got data: " + (jsonData !== undefined))
    var table = new google.visualization.DataTable(jsonData);
    drawLineChart(table, 'pHChart', 'pH', 'pH')
    drawLineChart(table, 'fcChart', 'fc', 'Free Chlorine')
    drawLineChart(table, 'tcChart', 'tc', 'Total Chlorine')
    drawLineChart(table, 'poolTempChart', 'pool_temp', 'Pool Temperature')
    //drawLineChart(table, 'events', 'event', 'Events')
  }

  function drawLineChart(table, container, column, title) {
    var options = {
      curveType: 'function',
      height: 400,
      width: 650,
      title: title,
      hAxis: {
        format: 'MMM-dd HH:mm:ss'
      },
      legend: {
        position: 'none'
      },
    }

    var chart = new google.visualization.ChartWrapper({
      chartType: 'LineChart',
      containerId: container,
      dataTable: table,
      //options: google.charts.Line.convertOptions(options)
      options: options
    })

    chart.setView({ columns: ['when', column, 'event'] })
    google.visualization.events.addListener(chart, 'error',
      function (err) {
        console.log(err)
      });
    chart.draw()

    /*
        var chart = new google.visualization.LineChart(
          document.getElementById(container))
        chart.draw(table, options)
        */
  }

</script>

{% endblock %} {% block content %}
<div class="header">
  <h1>Current Conditions</h1>
</div>

<div class="content">
  <p>
    <div class="pure-g">
      <div class="pure-u-17-24 text-center justify-center">
        <table class="pure-table pure-table-horizontal">
          <tr>
            <th>Measure</th>
            <th>Value</th>
            <th>Units</th>
            <th>Taken</th>
          </tr>
          <tbody>
            {% for category in categories %}
            <tr>
              <td>{{category.name}}</td>
              <td>{{category.value}}</td>
              <td>{{category.unit}}</td>
              <td>{{category.when|ms_to_str}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="chart">
      <div id="pHChart"> </div>
    </div>
    <div class="chart">
      <div id="fcChart"> </div>
    </div>
    <div class="chart">
      <div id="tcChart"> </div>
    </div>
    <div class="chart">
      <div id="poolTempChart"> </div>
    </div>
</div>


{% endblock %}