<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block head %}

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu-old-ie.css') }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
  <!--<![endif]-->

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Pool Conditions</title>
  {% endblock %}
</head>

<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu">
        <span class="pure-menu-heading">Pool Conditions</span>

        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Current Conditions</a>
          </li>

          <li class="pure-menu-item">
            <a href="/readings/add" class="pure-menu-link">Add Reading</a>
          </li>

          <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
            <a href="/readings" class="pure-menu-link">View Readings</a>
          </li>

          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">View Events</a>
          </li>

          <li class="pure-menu-item">
            <a href="/settings" class="pure-menu-link">Settings</a>
          </li>

          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Diagnostics</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="main">
      {% block content %}{% endblock %}
    </div>

    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="snackbar">
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
  </div>
</body>

</html>