{% from "_macros.html" import render_reading_elem %}
{% if readings|length == 0 %}
No readings during the selected period
{% else %}
<ul class="expandable-list" id="reading-list">
    {% for r in readings %}
    <li id="li_{{ r.ts }}">
        <input type="checkbox" id="cb_{{ r.ts }}" checked="true"/>
        <label for="cb_{{ r.ts }}">{{ r.ts|ms_to_str}}</label>
        <button class="pure-button button-small right-float"
            style="margin-left: 2px" id="rm_reading_{{ r.ts }}">Remove</button>
        <a href="/readings/edit/{{r.ts}}" class="button pure-button button-small right-float"
            style="margin-left: 2px" id="edit_reading_{{ r.ts }}">Edit</button>
        <a href="/readings/add_event/{{r.ts}}" class="button pure-button button-small right-float"
            id="add_event_{{ r.ts }}">Add Event</a>

        <div>
            <table class="pure-table pure-table-horizontal expanded text-center">
                <tbody>
                    {{ render_reading_elem(r.fc, 'Free Cl', 'ppm', r.fc|float|round(2) )}}
                    {{ render_reading_elem(r.tc, 'Total Cl', 'ppm', r.tc|float|round(2) )}}
                    {{ render_reading_elem(r.ph, 'pH', '', r.ph|float|round(2) )}}
                    {{ render_reading_elem(r.ta, 'Total Alkilinity', 'ppm', r.ta|int )}}
                    {{ render_reading_elem(r.ca, 'Calcium Hardness', 'ppm', r.ca|int )}}
                    {{ render_reading_elem(r.cya, 'CYA', 'ppm', r.cya|int )}}
                    {{ render_reading_elem(r.pool_temp, 'Pool Temp', '*C', r.pool_temp|float|round(2) )}}
                </tbody>
            </table>
            {% if r.events|length > 0 %}
            <div>
                <ul>
                    {% for e in r.events %}
                    <li id="li_event_{{ e.event_id }}">
                        <button class="button pure-button button-small right-float"
                            id="rm_event_{{ e.event_id }}">X</button>
                        {{ e }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}