.chart {
    margin:10px auto;
    width: 650px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: #eeeeee;
}

.conditions {
    margin: 10px auto;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.expanded {
    width: 100%;
}

.restricted-width {
    width: 10em;
}