{% extends "layout.html" %} 
{% block content %}
{% from "_form_helpers.html" import render_field %}

{% block head %} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.css') }}">
<script src="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.js') }}"></script>
<script type="text/javascript">
    window.onload = function() {
        flatpickr("#when", {
            enableTime: true,
            defaultDate: new Date()
        });
    }
</script>
{% endblock %} 

<div class="header">
    <h1>Add Reading</h1>
</div>

<div class="content">
    <form class="pure-form pure-form-aligned" method=post>
        <fieldset>
            {{ render_field(form.when) }}
            {{ render_field(form.fc, "ppm") }}
            {{ render_field(form.tc, "ppm") }}
            {{ render_field(form.ph) }}
            {{ render_field(form.ta, "ppm") }}
            {{ render_field(form.ca, "ppm") }}
            {{ render_field(form.cya, "ppm") }}
            {{ render_field(form.pool_temp, "*C") }}
            {{ render_field(form.event_type) }}
            {{ render_field(form.event_quantity) }}
            {{ render_field(form.event_comment) }}
            {{ form.csrf_token }}

            <button type="submit" class="pure-button pure-button-primary" value="submit">Submit</button>
            </div>
        </fieldset>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

{% endblock %}