{% extends "layout.html" %} 
{% block head %} 
{{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['line', 'charteditor'] });
  google.charts.setOnLoadCallback(getData);

  function getData() {
    var jsonData = $.ajax({
      url: "readings/datatable",
      dataType: "json",
      success: drawCharts
    })
  }

  function drawCharts(jsonData) {
    console.log("got data: " + (jsonData !== undefined))
    var table = new google.visualization.DataTable(jsonData);
    drawLineChart(table, 'pHChart', 'pH', 'pH')
    drawLineChart(table, 'poolTempChart', 'pool_temp', 'Pool Temperature')
    //drawLineChart(table, 'events', 'event', 'Events')
  }

  function drawLineChart(table, container, column, title) {
    var options = {
      curveType: 'function',
      height: 400,
      width: 650,
      title: title,
      hAxis: {
        format: 'MMM-dd HH:mm:ss'
      },
      legend: {
        position: 'none'
      },
    }

    var chart = new google.visualization.ChartWrapper({
      chartType: 'LineChart',
      containerId: container,
      dataTable: table,
      //options: google.charts.Line.convertOptions(options)
      options: options
    })

    chart.setView({ columns: ['when', column, 'event'] })
    google.visualization.events.addListener(chart, 'error',
      function (err) {
        console.log(err)
      });
    chart.draw()

/*
    var chart = new google.visualization.LineChart(
      document.getElementById(container))
    chart.draw(table, options)
    */
  }

</script>

{% endblock %} 
{% block content %}
<div class="header">
  <h1>Current Conditions</h1>
</div>

<div class="content">
  <p>
  <div class="pure-g justify-center">
    <div class="pure-u-3-5">
      <h2 class="text-center">Most Recent Readings</h2>
      <table class="pure-table pure-table-horizontal expanded text-center">
        <tbody>
          {% for category in categories %}
            <tr>
              <td>{{category.name}}</td>
              {% if category.value != '-' %}
              <td>{{category.value |float|round(2)}}</td>
              {% else %}
              <td>{{category.value}}</td>
              {% endif %}
              <td>{{category.unit}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

  <div class="chart">
    <div id="pHChart"> </div>
  </div>
  <div class="chart">
    <div id="poolTempChart"> </div>
  </div>
</div>


{% endblock %}